.block {
    background-color: black;
    margin: 50px;
    padding: 20px;
    display: inline-block;
}

.item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px;
    border: 1px solid #fff;
    position: relative;
}
.span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}
.active {
    display: none;
}
.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}